@using OnlineStoreMVC.Models
@model ListProductsWithFilterModel
@{
    ViewBag.Title = "List Products";
    string isInCart(int Id)
    {
        if (Session["cart"] != null)
        {
            List<ProductCartModel> cartProducts = (List<ProductCartModel>)Session["cart"];
            if (cartProducts.Where(product => product.Product.Id == Id).Any())
            {
                return "btn-success";
            }
        }
        return "btn-primary";
    }
}

<div class="container">
    <h2>@ViewBag.Title</h2>
    <div class="row">
        <div class="col-md-3">
            <div>
                @using (Html.BeginForm())
                {
                    <div class="btn-group">
                        <button name="submit" type="submit" id="Date" value="Date" class="btn btn-outline-primary">Date</button>
                        <button name="submit" type="submit" id="Orders" value="Orders" class="btn btn-outline-primary">Orders</button>
                        <button name="submit" type="submit" id="Price" value="Price" class="btn btn-outline-primary">
                            Price
                            @if (ViewBag.Ascending != null)
                            {
                                if ((bool)ViewBag.Ascending)
                                {
                                    <text>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                                            <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
                                        </svg>
                                    </text>
                                }
                                else
                                {
                                    <text>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                                            <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z" />
                                        </svg>
                                    </text>
                                }
                            }
                        </button>
                    </div>
                    <div class="row">
                        
                            <div class="col-lg-6 form-group">
                                @Html.TextBoxFor(m => m.filterByPrice.min, new { @class = "form-control", style = "visibility:hidden;" })
                            </div>
                            <div class="col-lg-6 form-group">
                                @Html.TextBoxFor(m => m.filterByPrice.max, new { @class = "form-control", style = "visibility:hidden;" })
                            </div>
                        
                            <div class="col-lg-12 form-group">
                                <div id="slider-range"></div>
                                <input type="text" id="amount" readonly style="border:0; font-weight:bold;">
                            </div>
                    </div>
                    <input type="submit" value="Filter" class="btn btn-outline-primary" />

                }
            </div>
        </div>
        <div class="col-md-9">
            <div class="row row-cols-md-4 g-2">
                @foreach (var item in Model.products)
                {
                    double res = item.Price * (1 - (double)item.Discount / 100);
                    <div class="col">
                        <a href="/Products/Details/@item.Id" class="btn">
                            <div class="card">
                                @if (item.Images.Count > 0)
                                {
                                    <img src="@item.Images.First().ImageSrc" class="card-img-top" style="object-fit:cover; object-position:center; height:200px;" onerror="this.src='https://st3.depositphotos.com/23594922/31822/v/600/depositphotos_318221368-stock-illustration-missing-picture-page-for-website.jpg'" />
                                }
                                else
                                {
                                    <img class="card-img-top" style="object-fit:cover; object-position:center; height:200px;" src="https://st3.depositphotos.com/23594922/31822/v/600/depositphotos_318221368-stock-illustration-missing-picture-page-for-website.jpg" />
                                }
                                <div class="card-body">
                                    <h5 class="card-title">@item.Title</h5>
                                </div>
                                <div class="card-body d-flex justify-content-between">
                                    @if (item.Discount != 0)
                                    {
                                        <text>@res</text>
                                        <text>(</text>@item.Discount<text>% off)</text>
                                    }
                                    else
                                    {
                                        <text>@res</text>
                                    }
                                </div>
                                <a class="js-addtocart btn @isInCart(item.Id)" data-product-id="@item.Id">Add to Cart</a>
                            </div>
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(function () {

            $(".js-addtocart").click(function () {
                var currentButton = $(this);
                $.ajax({
                    url: "/cart/addtocart/" + currentButton.attr("data-product-id"),
                    metod: "GET",
                    success: function () {
                        currentButton.removeClass("btn-primary");
                        currentButton.addClass("btn-success");
                    }
                });
            });
        });
    </script>

    <script>
        $(function () {
            $("#slider-range").slider({
                range: true,
                min: 0,
                max: @Convert.ToInt32(ViewBag.maxPrice),
                values: [$("#filterByPrice_min").val(), $("#filterByPrice_max").val()],
                slide: function (event, ui) {
                    $("#amount").val(ui.values[0] + " - " + ui.values[1]);
                    $("#filterByPrice_min").val(ui.values[0]);
                    $("#filterByPrice_max").val(ui.values[1]);
                }
            });
            $("#amount").val($("#slider-range").slider("values", 0) + " - " + $("#slider-range").slider("values", 1));
        });
    </script>>

}