@model IEnumerable<OnlineStoreMVC.Models.Product>

@{
    ViewBag.Title = "Cart";
}

<h2>@ViewBag.Title</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Discount)
        </th>
        <th></th>
    </tr>

@{ 
    int i = 0;
}
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Discount)
        </td>
        <td>
            @Html.ActionLink("Remove", "RemoveFromCart", "Cart", new { id = i }, null)
        </td>
    </tr>
    ++i;
}

</table>
