@model IEnumerable<OnlineStoreMVC.Models.ProductCartModel>

@{
    ViewBag.Title = "Cart";
}

<h2>@ViewBag.Title</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Product.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product.Discount)
        </th>
        <th></th>
    </tr>

@{ 
    int i = 0;
}
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Product.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product.Discount)
        </td>
        <td>
            <input type="number" min="1" max="@Int32.MaxValue" data-productcart-id="@i" value="@item.Quantity"/>
        </td>
        <td>
            @Html.ActionLink("Remove", "RemoveFromCart", "Cart", new { id = i }, null)
        </td>
    </tr>
    ++i;
}
</table>

@section Scripts{
    <script>
        $(function () {
            $("input").change(function () {
                var currentInput = $(this);
                $.ajax({
                    url: "/Cart/UpdateQuantity?id=" + currentInput.attr("data-productcart-id") + "&quantity=" + currentInput.val(),
                    method: "GET"
                });
            });
        });
    </script>
}